/*
    Starting configs.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #10141b;
    color: whitesmoke;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

/*
    Header
*/

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    list-style: none;
    width: 100%;
    padding: 18px 0;
    background: rgba(26, 26, 26, 0.5);
    box-shadow: 0 2px 3px #131313;
}

.nav-options {
    justify-self: end;
    width: 100%;
}

.main-nav {
    transition: all 0.5s ease;
}

.main-nav ul {
    float: right;
    margin-right: 5%;
}

.main-nav li {
    display: inline;
    margin-right: 15px;
}

.home-icon {
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-left: 5%;
}

.hero-box {
    margin-left: 10%;
    color: whitesmoke;
}

.hero-box h1 {
    display: inline-block;
}

.hero-box h2 {
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 60px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.5s ease;
}

.mobile-nav-icon {
    display: none;
}

/*
    Heading text
*/

h1 {
    font-size: 250%;
    font-weight: 500;
    width: 75%;
    margin-top: 120px;
}

h2 {
    font-size: 200%;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

h3 {
    font-size: 150%;
    margin-left: 10px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/*
    Heading span
*/

h1 span {
     font-weight: bold;
    color: #b93030;
}

h2 span {
    content: ;
    font-weight: bold;
    color:  #b93030;
}

/*
    Buttons
*/

.btn-full:active, .btn-full:link,  .btn-full:visited,
.btn-ghost:active, .btn-ghost:link, .btn-ghost:visited {
    font-size: 120%;
    font-weight: 500;
    margin-right: 30px;
    padding: 5px 30px;
    border: 5px solid #b93030;
    border-radius: 45px;
    color: whitesmoke;
}

.btn-full:active, .btn-full:link {
    background: #b93030;
}

.btn-full:hover, .btn-full:active {
    background: #aa2c2c;
    border: 5px solid #aa2c2c ;
    transition: background 0.2s border 0.2;
}

.btn-ghost:hover, .btn-ghost:active {
    background: #b93030;
    transition: background 0.2s;
}

/*
    Container
*/

.container { /*NOT IN USe*/
    
}

/*
    Sections
*/

section {
    margin: 60px auto;
    width: 75%;
    padding-bottom: 40px;
    border-bottom: 1px solid #969696
}

.title-box{
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.title-box span:first-line {
    font-size: 70%;
    font-weight: 200;
}

.title-box {
    text-transform: uppercase;

}

.title-box h2 {
    font-size: 180%
}

.about-section img {
    display: block;
    margin: 40px 0 auto auto;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 0% 75%;

    border-radius: 20px;

}

.skills-box {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: auto;
    place-items: space-evenly;
    gap: 2rem;
}

.skill {
    font-size: 90%;
    text-align: justify;
    width: minmax(33%, 100%);
}

.skill img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 60%;
    filter: invert(100%);
}

.portfolio-box {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-box a,
.portfolio-box a:visited{
    color: whitesmoke;
}

.portfolio-option-1,
.portfolio-option-2{
    padding: 15px 30px;
    background-size: cover;
    display: block;
    margin: 40px 0 auto auto;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.portfolio-option-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/portrait-of-illuminated-laptop\ \(CROP\).jpg);
}

.portfolio-option-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/computer-cables.jpg);
}

.portfolio-option-1:hover,
.portfolio-option-2:hover{
    cursor: pointer;
    opacity: 1.0;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

.contact-section {
    margin-bottom: 150px;
}
/*
    Links
*/

a,
a:visited {
    color: #adadad;
    text-decoration: none;
}

/*
    Footer
*/

.footer-box{
    width: 100%;
    padding: 0 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-nav ul {
    float: right;
    margin-right: 5%;
}

.footer-nav li {
    font-size: 90%;
    display: inline;
    margin-right: 15px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;    
}

.social-links ul {
    list-style: none;
    float: right;    
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a,
.social-links li a {
    font-size: 160%;
}

.ion-social-github,
.ion-social-twitter,
.ion-social-linkedin,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-github:hover {
    color: #6cc644;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-linkedin:hover {
    color: #0077b5;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.disclaimer {
    margin-top: 40px;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

footer {
    list-style: none;
    width: 100%;
    padding: 18px 0;
    background: #1a1a1a;
}