/*
    Starting configs.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #1a1a1a;
    color: #424242;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

/*
    Header
*/

header {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-nav {
    float: right;
    list-style: none;
    width: 100%;
    padding: 18px 0;
    background: #1a1a1a;
    box-shadow: 0 2px 3px #131313;
}

.main-nav li {
    display: inline-block;
    margin-left: 2%;
}

.hero-box {
    margin-left: 10%;
    color: whitesmoke;
}

.hero-box h1 {
    display: inline-block;
}

.hero-box h2 {
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5%;
}

/*
    Heading text
*/

h1 {
    font-size: 250%;
    font-weight: 500;
    width: 75%;
    margin-top: 80px;
}

h2 {
    font-size: 200%;
    letter-spacing: 1px;
}

/*
    Heading span
*/

h1 span {
     font-weight: bold;
    color: #b93030;
}

h2 span {
    font-weight: bold;
    color:  #b93030;
}

/*
    Container
*/

.container {
    padding: 2% 0;
    background-color: #dbdbdb;
    border-radius: 60px;
    width: 100%;
    display: block;
     /*box-shadow: 0 2px 2px #fcfcfc;*/
}

/*
    Sections
*/

section {
    margin: 40px auto;
    width: 75%;
    padding-bottom: 40px;
    border-bottom: 1px solid #969696
}

/*
    Links
*/

a,
a:visited {
    color: #adadad;
    text-decoration: none;
}

/*
    Footer
*/

footer {
    float: right;
    list-style: none;
    width: 100%;
    padding: 18px 0;
    background: #1a1a1a;
}